
<!--<div class="khung1">-->
<!-- <h5><b>{{array1}}</b> </h5>-->
<!--  <h5 style="font-family: Arial">{{array2}}</h5>-->
<!--  <h5 style="display: none"> {{array3}}</h5>-->
<!--  -->
<!--</div>-->


<div class="khung1">
  <h5><b>{{todo1}}</b> </h5>
  <h5 style="font-family: Arial">{{todo2}}</h5>
  <h5 style="display: none"> {{todo3}}</h5>

  <h5><b>{{proges1}}</b> </h5>
  <h5 style="font-family: Arial">{{proges2}}</h5>
  <h5 style="display: none"> {{proges3}}</h5>

  <h5><b>{{review1}}</b> </h5>
  <h5 style="font-family: Arial">{{review2}}</h5>
  <h5 style="display: none"> {{review3}}</h5>

  <h5><b>{{done1}}</b> </h5>
  <h5 style="font-family: Arial">{{done2}}</h5>
  <h5 style="display: none"> {{done3}}</h5>

</div>


