<div class="main">

<div class="khung">
  <ul>
    <li >
      <div class="khung2" ><button type="button" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-align-left" style="background-color:blue; color: white "aria-hidden="true"></i>To Do</button></div>
      <app-array *ngFor="let s of todo1; let i = index;"
                 [todo1]="todo1[i]"
                 [todo2]="todo2[i]"
                 [todo3]="todo3[i]">
      </app-array>
    </li>
  </ul>
</div>
<div class="khung">
  <ul>
    <li >

      <div class="khung2" ><button type="button" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-asterisk" style="background-color: orange; color: white"></i>In Progress</button></div>

      <app-array *ngFor="let s of proges1; let i = index;"
                 [proges1]="proges1[i]"
                 [proges2]="proges2[i]"
                 [proges3]="proges3[i]">
      </app-array>
    </li>
  </ul>
</div>
<div class="khung">
  <ul>
    <li >

      <div class="khung2" ><button type="button" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-eye-open" style="background-color: purple; color: white"></i>In Review</button></div>

      <app-array *ngFor="let s of reivew1; let i = index;"
                  [review1]="reivew1[i]"
                 [review2]="reivew2[i]"
                 [review3]="reivew3[i]">
      </app-array>
    </li>
  </ul>
</div>
<div class="khung">
  <ul>
    <li >
        <div class="khung2" ><button type="button" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-ok" style="background-color: green; color: white"></i>Done</button></div>

      <app-array *ngFor="let s of done1; let i = index;"
                 [done1]="done1[i]"
                 [done2]="done2[i]"
                 [done3]="done3[i]">
      </app-array>
    </li>
  </ul>
</div>
</div>
